.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #03293f;
  color: aliceblue;
  border-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  display: flex;
  background-color: black;
}

button {
  background-color: #f60101;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-title-container {
  display: flex;
  align-items: center;
}

.book-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.book-interview , 
.book-memnoch ,
.book-lestat ,
.book-armand {
  background-color: #f60101;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
}


.read-button {
  background-color: #f9f4f4;
  color: f61e01;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
}

.not-read-button {
  background-color: #f9f4f4;
  color: f61e01;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
}

.read-button:hover, .not-read-button:hover {
  opacity: 0.8;
}
